extends layout

block content
	.container
		.jumbotron
			h1.display-4 Hello, World!
			p.lead Hi! I am Jay Mistry,
			p A computer enthusiast, and a coder. I've been coding since I was of the age 12. I've learned all the things I know by myself. I also write poems. I also like reading books.
		if posts
			h1.display-4 Recent Posts:
			each post, i in posts
				.jumbotron
					.container
						a(href='/posts/view/'+post._id)
							h2=post.title
						h6.meta By #{post.author}, on #{moment(post.date).format("Do MMM, YYYY")} #{(post.category)?" In "+post.category:""}
						hr
						.pbody
							!=post.body
						hr
						a.btn.btn-dark.btn-lg(href='/posts/view/'+post._id) Read More &raquo;

		else
			h1.display-4 There are no new posts.

