extends layout

block content
	.container
		.jumbotron
			.container
				h2 Administrator Login
				hr
				!=messages()
				if errors
					ul.alert
						each error, i in errors
							li.alert.alert-danger=error.msg
				form.form-group(action='/admins/login', method='post')
					input.form-control(type='text', placeholder='Username', name='uname', id='uname', value=(uname)?uname:'')
					br
					input.form-control(type='password', placeholder='Password', name='pass', id='pass', value=(pass)?pass:'')
					br
					input.btn.btn-success.btn-lg(type='Submit', value='Log In')
